node_modules
npm-debug.log
.DS_Store
package-lock.json
yarn-error.log
yarn.lock
dist
*.zip


# Editor and IDE configuration
.vscode/
.idea/
.history

/packages/*/node_modules
/packages/omis
/packages/*/yarn.lock
/packages/*/yarn-error.log

npm-debug.log
/packages/*/todo.md
/dist*
/2.0.0/publish*
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/cloud-diamond-sign/v16/.suo
2.0.0/app/.vs/ProjectSettings.json
2.0.0/app/.vs/slnx.sqlite
2.0.0/app/.vs/VSWorkspaceState.json
2.0.0/app/.vs/app/config/applicationhost.config
2.0.0/app/.vs/app/v16/.suo
